[Unit]
Description=gron server
After=network.target

[Service]
Type=simple
User=www-data
Group=www-data
ExecStart=/usr/bin/gron -d -max 5 > /var/log/gron.log

[Install]
WantedBy=multi-user.target